<!DOCTYPE html>   
<html>   
<head>  
<meta name="viewport" content="width=device-width, initial-scale=1">  
<title> Register Page </title>  
<style>   
Body {  
  font-family: Calibri, Helvetica, sans-serif;  
  background-color: rgb(247, 255, 192);  
  display: flex;
  flex-direction: column;
  padding: 25px;
}  
button {   
        background-color: #4c89af;   
        width: 20%;  
        border-radius: 50px;
        color: black;   
        font-size: large;
        padding: 15px;   
        margin: 10px 0px 10px 580px;   
        border: none;   
        cursor: pointer;   
        }   
 form {   
        border: none;   
    } 
    h1{
        text-align: center;
    }  
 input[type=text], input[type=password] {   
        width: 100%;   
        margin: 8px 0px 10px 0px;  
        padding: 12px 20px;   
        display: inline-block;   
        border: 2px solid green;   
        box-sizing: border-box; 
        border-radius: 10px;   
    }  
 button:hover {   
        opacity: 0.7;   
    }      
 .container {   
        padding: 25px;   
        background-color: rgb(247, 255, 192);  
    }   
</style>   
</head>    
<body>    
    <h1> Register Form </h1>    
    <form action='/register' method="POST">  
        <div class="container">   
            <label for="name">Name : </label>   
            <input type="text" placeholder="Enter Name" name="name" required>  
            <br/>
            <label for="email">Email : </label>  
            <input type="text" placeholder="Enter Email" name="email" required>  
            <br/>
            <label for="username">Username : </label>    
            <input type="text" placeholder="Enter Username" name="username" required>  
            <br/>
            <label for="password">Password : </label>   
            <input type="password" placeholder="Enter Password" name="password" required>  
            <br/>
            <button type="submit">Register</button>   
        </div>   
    </form>     
    <form action='/login' method="GET">  
        <div class="container">
          <button type="submit">Already have an account?     Login here!</button>  
        </div>   
      </form>
</body>     
</html> 